html{
    background: url("./asset/bg.png");
    background-size: cover;
}
.logo{
    width: 441px;
    height: auto;
}

.negara{
    display: flex;
    text-decoration: none;
    font-size: 32px;
    float: right;
    margin-right: 50px;
}

.negara li{
    padding: 20px;
    margin-top: -20px;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color:red;
    background-color: transparent;
    text-decoration: none;
}
 
h2{
    color: aliceblue;
    text-align: center;
}
h1{
    color: aliceblue;
    text-align: center;
}

.penjajahan{
    text-align: center;
}
.penjajahan button{
    text-align: center;
    width: 10%;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    
}
.fotop{
    display: flex;
    float: right;
    padding: 150px;
    margin-top: 250px;
}
.karno{
    width: 300px;
    height: auto;
    margin: 50px;
}

.tomo{
    width: 300px;
    height: auto;
    margin: 50px;
}

.agus{
    width: 300px;
    height: auto;
    margin: 50px;
}
div p{
    text-align: center;
    color: aliceblue;
    
}
.penjajahan a :hover{
    color: red;
    cursor: pointer;

}
